{% extends "base.html"%}
{% load static%}
{% block title %}Projects{% endblock title %}
{% block projectsactive %}active{% endblock projectsactive %}

{% block body %}
<div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
  <strong>Hello visitor!</strong> I'm looking for job. Feel free to contact meif you like me.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container my-3 mb-5">
  <h1 class="text-center my-3 py-5 font-weight-bold">Projects</h1>
  <div class="row row-cols-1 row-cols-md-3 px-5">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1600x900/?Portfolio templates" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Portfolio</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1600x900/?Blog templates " class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Blog</h4>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1600x900/?E-Commerse templates" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">E-Commerse</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1600x900/?Leanding Page templates" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold font-weight-bold">Leanding Page</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1600x900/?Shopify templates" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Shopify</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1600x900/?Restaurant templates" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Restaurant</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}